.header {
  height: 4rem;
  padding: 0 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #f1f3f5;
}

.header__logo {
  height: 1.35rem;
}


@media (max-width: 768px) {
  .header {
    padding: 0 0.275rem;
  }
}