.hero {
  margin-top: 5.625rem;
  margin-right: auto;
  margin-left: auto;
  max-width: 768px;
  padding: 0.925rem;
  padding-bottom: 0;
}

.hero__profile {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #E2E8F0;
  padding-bottom: 0.925rem;

  img {
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 0px 4px 0px;
    margin-right: 1.25rem;
  }
}

.hero__profile--info {
  display: flex;
  flex-direction: column;

  h1, p {
    margin: 0;
  }

  p {
    color: #718096;
    font-size: 1.0925rem;
  }
}

.hero__profile--link {
  margin-top: 0.325rem;
  
  a {
    color: #3182CE;
    cursor: pointer;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.hero__navigator {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  display: flex;
  justify-content: center;

  a {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    font-size: 1.325rem;
    width: 8rem;
    height: 3rem;
    color: #495057;
    text-decoration: none;
    transition: color 0.25s ease-in-out 0s;
    font-weight: 600;
  }

  a[rel=active] {
    color: #4299E1;
    border-bottom: 2px solid #4299E1;
  }
}

@media (max-width: 768px) {
  .hero {
    margin-top: 3.75rem;
  }

  .hero__profile img {
    width: 6.5rem;
    height: 6.5rem;
  }

  .hero__profile--info {
    h1 {
      font-size: 1.5rem;
    }

    p {
      font-size: 0.925rem;
    }
  }
}