<article class="article">
  <a href="{{ .Permalink }}">
    <h1 class="article__title">{{ .Title }}</h1>
  </a>
  <div class="article__row">
    <a href="{{ .Permalink }}">
      <img src="{{ if .Params.Thumbnail }}{{ .Params.Thumbnail }}{{ else }}/app/null-thumbnail.svg{{ end }}" alt="{{ .Title }} 섬네일" class="article__row--thumbnail"  />
    </a>
    <a href="{{ .Permalink }}">
      <div class="article__row--description">
        <div class="article__column">
          {{ if .Description }}
            <p class="article__column--description">{{ .Description | truncate 200 }}</p>
          {{ else}}
            <p class="article__column--description">{{ plainify .Content | truncate 200 }}</p>
          {{ end }}
          <p class="article__column--footer">{{ dateFormat "January 2, 2006" .Date }}</p>
        </div>
      </div>
    </a>
  </div>
</article>