@import './page/articles.scss';
@import './page/series.scss';
@import './page/tag.scss';
@import './components/article.scss';
@import './components/header.scss';
@import './components/hero.scss';
@import './components/pagination.scss';
@import './common/tag.scss';
@import './common/articles.scss';
@import './common/content.scss';
@import './common/syntax.scss';

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Apple SD Gothic Neo", "Pretendard Variable", Pretendard, Roboto, "Noto Sans KR", "Segoe UI", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  text-shadow: 0 0 0.1px rgba(0, 0, 0, 0.3);
  -webkit-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
}

@media (max-width: 768px) {
  main {
    padding: 0 0.75rem;
  }
}