.article-page {
  max-width: 768px;
  margin: 5.5rem auto;

  a {
    text-decoration: none;
  }
}

.article-page__header {
  h1 {
    color: rgb(52, 58, 64);
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 3.332rem;
    margin: 0;
  }

}

.article-page__header--footer {
  color: #4A5568;
  font-size: 1.125rem;
  margin: 0.75rem 0;

  .article-page__header--username {
    color: black;
    font-weight: bold;

    &:hover {
      text-decoration: underline;
    }
  }
}

.article-page__header--tags {
  margin-top: 1.5rem;
}

@media (max-width: 1024px) {
  .article-page {
    margin: 3.5rem auto;
  }

  .article-page__content, .article-page__header {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}