<link rel="canonical" href="{{ .Permalink | absURL }}" />
<meta name="description" content="{{.Description}}">

<meta property="og:title" content="{{ .Title }}" />
<meta property="og:type" content="article" />
<meta property="og:url" content="{{ .Permalink | absURL }}" />

{{ if .Description }}
  <meta name="description" content="{{ .Description  }}">
  <meta property="og:description" content="{{ .Description  }}" />
{{ else }}
  <meta name="description" content="🙏 매일매일 끄적이는 개발 블로그 입니다!">
  <meta property="og:description" content="🙏 매일매일 끄적이는 개발 블로그 입니다!" />
{{ end }}

{{ if .Params.Thumbnail }}
  <meta property="og:image" content="{{ .Params.Thumbnail | absURL }}"/>
{{ else }}
  <meta property="og:image" content="/favicon-192x192.png"/>
{{ end }}