.content {
  font-size: 0.975rem;
  color: rgb(34, 36, 38);
  line-height: 1.6;
  letter-spacing: -0.004em;
  word-break: keep-all;
  overflow-wrap: break-word;

  h1 {
    line-height: 1.5;
    margin-bottom: 1rem;
    font-size: 2.5rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  h2, h3, h4 {
    line-height: 1.5;
    margin-bottom: 1rem;
  }

  hr {
    border: none;
    height: 1px;
    width: 100%;
    background: rgb(222, 222, 222);
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  img {
    display: block;
    margin: 1.25rem auto;
    max-width: 100%;
  }

  blockquote {
    margin: 2rem 0px;
    border-left: 4px solid #4299E1;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    background: rgb(248, 249, 250);
    padding: 0.25rem 1rem 0.25rem 2rem;
    color: rgb(33, 37, 41);
  }

  a {
    color: #3182CE;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

@media (max-width: 768px) {
  .content {
    font-size: 1.0925rem;
  }
}